/* Write your CSS here! */
body {
    display: block;
    margin: 8px;
}
#mainHeading{
    color: red
}

.funParagraph{
    color:green;
    margin: 15px;
}

#openingPar{
    padding: 10px;
   }

   .indent {
       margin: 15px;
   }